<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Intfd Restaurant is platform to helping you to find place for great eat.">
  <meta name="theme-color" content="#db0000"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:url" content="https://mfwde-submission3.netlify.app" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Intf Restaurant" />
  <meta property="og:description" content="Intfd Restaurant is platform to helping you to find place for great eat." />
  <meta property="og:image" content="https://mfwde-submission3.netlify.app/favicon.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://mfwde-submission3.netlify.app">
  <meta property="twitter:title" content="Intf Restaurant">
  <meta property="twitter:description" content="Intfd Restaurant is platform to helping you to find place for great eat.">
  <meta property="twitter:image" content="https://mfwde-submission3.netlify.app/favicon.png">

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link rel="preload" crossorigin="anonymous"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap"
    as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <link rel="preload" crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" />
  </noscript>
  <title>Intfd Restaurant</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="header__inner">
      <!-- <div class="logo-img" alt="logo-restaurant"></div> <br /> -->
      <h1 class="header__title">
        Intfd Restaurant
      </h1>
    </div>
    <button class="header__menu btn btn-blue" id="menu" aria-label="navigation-menu">☰</button>
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#/home">Home</a></li>
      <li class="nav__item"><a href="#/favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://bdpw-dicoding.netlify.app/">About Us</a></li>
    </ul>
  </nav>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title"></h1>
      <p class="hero__tagline">Eat, Eat, Eat, & Fun </p>
    </div>
  </div>
  
  <main id="mainContent"></main>
  
  <footer></footer>
</body>
</html>
