.posts {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);

    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-img {
    background: var(--image-color), url('/images/logo-small.jpg');
    background-size: cover;
    background-position: center;
  }

  .hero {
    /* min-height: 500px; */
    background: var(--image-color), url('/images/hero-image_4-small.jpg');
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .post-item__content {
    padding: 5px 15px 15px 15px;
  }

  .post-item__title {
    font-size: 18px;
  }

  .post-item__description {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 26px;
  }
}

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 992px) {
  .logo-img {
    background: var(--image-color), url('/images/logo-large.jpg');
    background-size: cover;
    background-position: center;
  }

  .hero {
    background: var(--image-color), url('/images/hero-image_4-large.jpg');
    background-position: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .detail {
    grid-template-columns: 1.1fr 1fr;
    justify-content: center;
  }

  .detail h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }

  .detail-menu {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .detail-review {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
  }

  .title-review {
    grid-row-start: 4;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.245em;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.245em;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
