<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Intfd Restaurant is platform to helping you to find place for great eat.">
  <meta name="theme-color" content="#db0000"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    crossorigin="anonymous"
  />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet" type="text/css">
  <title>Intfd Restaurant</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="header__inner">
      <img class="logo-img" src="images/logo.jpg" width="200" height="200" alt="logo-restaurant"> <br />
      <h1 class="header__title">
        Intfd Restaurant
      </h1>
    </div>
    <button class="header__menu btn btn-blue" id="menu" aria-label="navigation-menu">☰</button>
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#/home">Home</a></li>
      <li class="nav__item"><a href="#/favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://bdpw-dicoding.netlify.app/">About Us</a></li>
    </ul>
  </nav>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title"></h1>
      <p class="hero__tagline">Eat, Eat, Eat, & Fun </p>
    </div>
  </div>
  
  <main id="mainContent"></main>
  
  <footer></footer>
</body>
</html>
